{% extends 'front.html.twig' %}

{% block title %} Registation {% endblock %}

{% block body %}

    {% if etat == 'single' %}
        <section class="registration-content">
            <div class="registration-form">
                <h1>{% trans %}Guest Wedding Registration {% endtrans %}</h1>
                <form method="post" action="{{ path('demande_invitation') }}" enctype="multipart/form-data">

                    <div class="radios">
                        <div>
                            <label for="mr">{% trans %}Mr{% endtrans %}</label>
                            <input type="radio" name="civilite" id="homme" value="homme" checked>
                        </div>
                        <div>
                            <label for="mrs">{% trans %}Mrs/ Miss{% endtrans %}</label>
                            <input type="radio" name="civilite" id="femme" value="femme">
                        </div>
                    </div>

                    <div class="names">
                        <div>
                            <label for="firstName">{% trans %}First Name{% endtrans %}</label>
                            <input type="text" name="nom" id="firstName" style="padding-left: 10px; font-family: 'Metal';" required>
                        </div>
                        <div>
                            <label for="lastName">{% trans %}Last Name{% endtrans %}</label>
                            <input type="text" name="prenom" id="lastName" style="padding-left: 10px; font-family: 'Metal';" required>
                        </div>
                    </div>

                    <div>
                        <label for="coupleLastName">{% trans %}Whatsapp Number{% endtrans %}</label>
                        <input type="text" name="telephone" placeholder="+XX XXXXXXXX" id="coupleLastName" style="padding-left: 10px; font-family: 'Metal';" required>
                    </div>

                    <div>
                        <label for="relationToCouple"></label>
                        <select name="situation" id="relationToCouple" style="padding-left: 10px; font-family: 'Metal';">
                            <option value="epouse">{% trans %}Bride's guest{% endtrans %}</option>
                            <option value="epoux">{% trans %}Groom's guest{% endtrans %}</option>
                        </select>
                    </div>
                    <div>
                        <label for="couplePicture">{% trans %}Take or Upload Picture{% endtrans %}</label>
                        <input type="file" name="image" id="couplePicture" style="padding-left: 10px; font-family: 'Metal';" required>
                    </div>

                    <input type="submit" value="{% trans %}Send {% endtrans %}">
                   <!-- <input type="submit" value="Send"> -->

                </form>
            </div>

            <div class="registration-panel">
                <div class="registration-title">
                    <img src="{{ asset('front/images/for-single.png') }}" id="for-single-pic" alt="">
                    <p>{% trans %}For Single{% endtrans %}</p>
                </div>
                <div class="registration-links">
                    <a href="{{ path('app_demande_invitation', {'etat':'couple'}) }}" class="next">
                        <img src="{{ asset('front/images/next-right.png') }}" alt="">
                        <p>{% trans %}For Couple{% endtrans %}</p>
                    </a>
                    <p>
                        <a href="{{ path('app_about') }}">
                            {% trans %}Make a gift donation{% endtrans %}
                        </a>
                    </p>
                </div>
            </div>
        </section>
    {% else %}
        <section class="registration-content">
            <div class="registration-panel">
                <div class="registration-title">
                    <img src="{{ asset('front/images/for-couple.png') }}" alt="">
                    <p>{% trans %}For Couple {% endtrans %}</p>
                </div>
                <div class="registration-links">
                    <p>
                        <a href="{{ path('app_about') }}">
                            {% trans %}Make a gift donation{% endtrans %}
                        </a>
                    </p>
                    <a href="{{ path('app_demande_invitation') }}" class="next">
                        <p>{% trans %}For Single{% endtrans %}</p>
                        <img src="{{ asset('front/images/next-left.png') }}" alt="">
                    </a>
                </div>
            </div>
            <div class="registration-form">
                <h1>{% trans %}Guest Wedding Registration{% endtrans %}</h1>
                <form method="post" action="{{ path('couple_invitation') }}" enctype="multipart/form-data">
                    <input type="text" name="civilite" value="homme" style="display: none" >
                    <div>
                        <label for="coupleLastName">{% trans %}Couple Last Name{% endtrans %}</label>
                        <input type="text" name="nom" id="coupleLastName" style="padding-left: 10px; font-family: 'Metal';" required>
                    </div>

                    <div class="names">
                        <div>
                            <label for="mrFirstName">{% trans %}Mr First Name{% endtrans %}</label>
                            <input type="text" name="prenom" id="mrFirstName" style="padding-left: 10px; font-family: 'Metal';" required>
                        </div>
                        <div>
                            <label for="mrsFirstName">{% trans %}Mme First Name{% endtrans %}</label>
                            <input type="text" name="herName" id="mrsFirstName" style="padding-left: 10px; font-family: 'Metal';" required>
                        </div>
                    </div>

                    <div>
                        <label for="coupleLastName">{% trans %}Whatsapp Number{% endtrans %}</label>
                        <input type="text" placeholder="+XX XXXXXXXX" name="telephone" id="coupleLastName" style="padding-left: 10px; font-family: 'Metal';" required>
                    </div>

                    <div>
                        <label for="relationToCouple"></label>
                        <select name="situation" id="relationToCouple" style="padding-left: 10px; font-family: 'Metal';" required>
                            <option value="epouse">{% trans %}Bride's family guest{% endtrans %}</option>
                            <option value="epoux">{% trans %}Groom's family guest{% endtrans %}</option>
                        </select>
                    </div>

                    <div>
                        <label for="couplePicture">{% trans %}Take or Upload Picture{% endtrans %}</label>
                        <input type="file" name="image" id="couplePicture" style="padding-left: 10px; font-family: 'Metal';" required>
                    </div>

                    <p>NB:{% trans %} Take a picture together{% endtrans %}</p>
                    <input type="submit" value="{% trans %}Send {% endtrans %}">

                </form>
            </div>
        </section>
    {% endif %}
{% endblock %}
