{% extends 'front.html.twig' %}

{% block title %} Confirmation de presence {% endblock %}

{% block body %}
    <section id="my-information">
        <h1>Your information</h1>
        <div id="inner-information">

            <div id="qr-code-block">

                <div>
                    <img class="user-pic" src="{{asset('Files/profiles/')}}{{ invite.photo }}" alt="">
                </div>

                <div>
                    <img src="{{asset('Files/qrcode/')}}{{ qrcode }}" alt="" width="150px" height="150px">
                    <p>Scan to download your information</p>
                </div>

                <div>
                    <p class="nb">NB: Without your QR code or your<br>information you can’t attend to reception</p>
                </div>

            </div>

            <div id="infos-form">
                <form>
                    <div>
                        <label for="coupleLastName">Last Name</label>
                        <input type="text" name="" id="coupleLastName" class="infos-input" style="padding-left: 25px; border:none;  font-family: 'Metal'" disabled value="{{ invite.nom }}">
                    </div>
                    <div>
                        <label for="firstName">First Name</label>
                        <input type="text" name="" id="firstName" class="infos-input" style="padding-left: 25px; border:none; font-family: 'Metal'" disabled value="{{ invite.prenom }}">
                    </div>
                    <div>
                        <label for="number">Whatsapp Number</label>
                        <input type="text" name="" id="number" class="infos-input" style="padding-left: 25px; border:none; font-family: 'Metal'" disabled value="{{ invite.telephone }}">
                    </div>
                    <div>
                        <label for="coupleLastName">Relationship with future couple</label>
                        <input type="text" name="" id="relationToCouple" class="infos-input" style="padding-left: 25px; border:none; font-family: 'Metal'" disabled value="{% if invite.situation == "epoux" %} Groom's family guest  {%else %}  Bride's family guest {% endif %}">
                    </div>
                    <div>
                        <label for="table">Table</label>
                        <input type="text" name="" id="table" class="infos-input" style="padding-left: 25px; border:none; font-family: 'Metal'" disabled value="{{ invite.place.nom }}">
                    </div>
                </form>
            </div>

        </div>
    </section>

    <section id="information-page-bottom">
        <img src="{{ asset('front/images/card 1.png') }}" alt="">
        <p>See Wedding Program</p>
    </section>

    <section class="filler"></section>
{% endblock %}