{% extends 'front.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}



    <section class="home-header">
        <div id="home-header-top">
            <p id="chris">Christabel</p>
            <img src="{{ asset('front/images/couple.png') }}" alt="" height="594px" width="594px">
            <p id="joel">Joel</p>
        </div>
        <div id="home-header-bottom">
            <p>
                {% trans %}
                Our Wedding
                {% endtrans %}
            </p>
        </div>
    </section>

    <section class="home-story">
        <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 2.png') }}" alt="" class="home-story-back-pic hearts" id="heart-1">
        <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 2.png') }}" alt="" class="home-story-back-pic hearts" id="heart-2">
        <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 2.png') }}" alt="" class="home-story-back-pic hearts" id="heart-3">
        <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 2.png') }}" alt="" class="home-story-back-pic hearts" id="heart-4">
        <img src="{{asset('front/images/—Pngtree—flower continuous one line art_4011135 1.png')}}" alt="" class="home-story-back-pic flowers" id="flower-1">
        <img src="{{asset('front/images/—Pngtree—flower continuous one line art_4011135 1.png')}}" alt="" class="home-story-back-pic flowers" id="flower-2">
        <img src="{{asset('front/images/—Pngtree—flower continuous one line art_4011135 1.png')}}" alt="" class="home-story-back-pic flowers" id="flower-3">
        <div id="home-story-top">
            <div id="our-story-image">
               <img src="{{asset('front/images/story.png')}}" alt="">
            </div>
            <div id="our-story">
                <h1>{% trans %}
                    Our story
                    {% endtrans %}
                </h1>
                <p>
                    {% trans %}
                    I met Christabel on July 1st, 2019, at Murtala Mohamed international airport. Our mutual friend Angela insisted on seeing me off to the airport.
                    We went to the airport lounge for lunch and while there I decided to make Everyone feel at ease, especially her. So I engaged her in a conversation about her field. She was very relaxed and confident while explaining her real estate business.Being a lover of real estate and a civil engineer, We bounded our discussion around it.
                    {% endtrans %}
                </p>
            </div>
        </div>
        <div id="home-story-bottom">
            <p>
                {% trans %}
                My next visit to Nigeria was on the 28th of November 2019 for business. I gave her a surprise visit to the kingdom hall of  Jehovah’s witnesses. when she turned around during the song, she was so shocked to see me. she could not stand on her feet, lol. From there we discussed more business. Most of our discussion was centered around real estate for more than one year.
                {% endtrans %}
            </p>
            <p>
                {% trans %}
            But I started loving her calm attitude and kindness toward her work and general lifestyle. I ask her why a beautiful lady like her was still single. She laughed and she told me she’s still waiting for a kindhearted man.
            {% endtrans %}
            <br>
            {% trans %}
            I jumped on the opportunity, showing her my kind heart and as a french guy,I had to quickly mark my territory lol Since no one was doing so … hahaha. She was a bit confused, but we gradually built trust in each other.
            {% endtrans %}
            </p>
            <p>
                {% trans %}
                I left 2 weeks after, came back Feb 2021 due to covid, our friendship became stronger and stronger, she started seeing me as her best friend, and I always look at her as my partner.
                We spent 2 weeks together in Feb 2021 and that was when I realized that I will love to spend the rest of my life with her.
                {% endtrans %}
            </p>
            <p>
                {% trans %}
                It wasn’t all smooth but patience & Jah’s grace carried us through.
                I waited another year which means March 2022 to prove my seriousness and commitment.
                On the 29th of March 2022 at Radisson blu VI  Lagos at 9:20 pm, I planned the proposal WITH MOM AND I SPA, Klala films and photo, Radisson blue management and here we are today. I am the happiest man on earth.
                {% endtrans %}
            </p>
            <p>
                {% trans %}
                Baby, I  LOVE  YOU  AND  WILL  CONTINUE  TO  LOVE  YOU
                {% endtrans %}
            </p>
        </div>

    </section>

    <section id="countdown">
        <div>
            <a href="{{ path('app_demande_invitation') }}"><p>{% trans %}Registration for {% endtrans %}
                    <br>
                    {% trans %}E-Invitation {% endtrans %}
                </p></a>
        </div>
        <div>
            <img src="{{asset('front/images/savethedate_wh.gif')}}" alt="" id="save-the-date-gif">
        </div>
        <div id="countdown-localisation">
            <h4>{% trans %}Saturday October 22nd 2022 {% endtrans %}</h4>
                <div>
                    <a href="https://goo.gl/maps/F5CUByyhtYG58Smz9" target="_blank">
                        <img src="{{asset('front/images/maplocalization_89142 1.png')}}" alt="">
                    </a>

                    <p> {% trans %}@ Kingdom Hall of Jehovah's  {% endtrans%} <br>
                        {% trans %}Witnesses (Lekki Lagos ELF Bus-Stop) {% endtrans %}<br>
                        {% trans %}at 10:00 am
                        {% endtrans %}</p>
                </div>
                <div id="time-countdown">
                    <div class="time-item">
                        <h2 id="days">00</h2>
                        <p>{% trans %}Days{% endtrans %}</p>
                    </div>
                    <div class="time-item">
                        <h2 id="hours">00</h2>
                        <p>{% trans %}Hours{% endtrans %}</p>
                    </div>
                    <div class="time-item">
                        <h2 id="minutes">00</h2>
                        <p>Minutes</p>
                    </div>
                    <div class="time-item">
                        <h2 id="seconds">00</h2>
                        <p>{% trans %}Seconds{% endtrans %}</p>
                    </div>
                </div>
        </div>

    </section>

    <section id="wedding-program-home">

        <div id="wedding-program-top">
            <img src="{{asset('front/images/flower-top.png')}}" alt="">
        </div>
        <h1>{% trans %}Wedding Program {% endtrans %}</h1>
        <div id="wedding-program-mid">
            <div>
                <p>{% trans %}Civil registration Wedding {% endtrans %}</p>
            </div>

            <div>
                {% trans %}Wedding Religious  ceremony {% endtrans %}</p>
            </div>

            <div>
                <p>{% trans %}Wedding party{% endtrans %}</p>
            </div>
        </div>
        <div id="wedding-program-home-links">
            <a href="{{ path('app_about') }}"><p>{% trans %}Your gift & Donation{% endtrans %}</p></a>
            <a href="{{ path(('app_about')) }}"><p>{% trans %}Hotel Booking{% endtrans %}</p></a>
        </div>
        <div id="wedding-program-bottom">
            <img src="{{asset('front/images/flower-bottom.png')}}" alt="">
        </div>

    </section>
{% endblock %}
