{% extends 'front.html.twig' %}

{% block title %} Confirmation de presence {% endblock %}

{% block body %}
    <section class="home-header">

    </section>

    <section class="marriage-invitation" id="private-invitation">

    </section>

    <section class="invitation-links">
        <div class="opposite-hearts">
            <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 1.png') }}" alt="">
            <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 2.png') }}" alt="">
        </div>
        <div class="invitations-links-bottom">
            <a><p>Download the invitation card</p></a>
            <a><p>Make your Gift & Donation</p></a>
        </div>
    </section>

    <section id="public-invitation-bottom">
        <img src="{{ asset('front/images/wedding-couple 2.png') }}" alt="">
        <div id="invitation-confirmation-form">
            <p>Confirm your presence</p>
            <form method="post" action="{{ path('invitation_validation') }}">
                <p>Will you attend the ceremony ?</p>
                <div>
                    <div>
                        <input type="radio" value="yes" name="validation" id="yes" checked>
                        <label for="yes">Yes, I Will</label>
                    </div>
                    <div>
                        <input type="radio" value="no" name="validation" id="no">
                        <label for="no">No, I can't (Virtual Attendance)</label>
                        <input type="text" name="slug" value="{{ invit.slug }}" style="display: none" >
                    </div>
                </div>

                <input type="submit" value="Send" id="submit-confirmation">
            </form>
        </div>
    </section>

    <section class="filler"></section>
{% endblock %}
