{% extends 'front.html.twig' %}

{% block title %}Invitation{% endblock %}

{% block body %}
    <section class="home-header invitation-header">
        <section class="marriage-invitation" id="public-invitation" >

        </section>
    </section>

    <section class="invitation-links">
        <div class="opposite-hearts">
            <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 1.png') }}" alt="">
            <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 2.png') }}" alt="">
        </div>
        <div class="invitations-links-bottom">

            {% if app.request.locale == "en" %}
                <a href="{{ asset('front/docs/invitation.pdf') }}" download><p>{% trans %}Download the invitation card{% endtrans %}</p></a>
            {% else %}
                <a href="{{ asset('front/docs/invit-fr.pdf') }}" download><p>{% trans %}Download the invitation card{% endtrans %}</p></a>
            {% endif %}


            <a href="{{ path('app_about') }}"><p>{% trans %}Your gift and donation {% endtrans %}</p></a>

        </div>
    </section>

    <section id="public-invitation-bottom">
        <img src="{{ asset('front/images/wedding-couple 1.png') }}" alt="">
        <div>
            <p>{% trans %}Save your place right here{% endtrans %}</p>
            <a href="{{ path('app_demande_invitation') }}"><p>{% trans %}Link to wedding registration{% endtrans %}</p></a>
        </div>
    </section>

    <section class="filler"></section>
{% endblock %}
