{% extends 'front.html.twig' %}

{% block title %}Invitation{% endblock %}

{% block body %}
    <section class="home-header">

    </section>

    <section class="marriage-invitation" id="public-invitation">

    </section>

    <section class="invitation-links">
        <div class="opposite-hearts">
            <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 1.png') }}" alt="">
            <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 2.png') }}" alt="">
        </div>
        <div class="invitations-links-bottom">
            <a href="{{ asset('front/images/invitation-public.png') }}" target="_blank"><p>{% trans %}Download the invitation card{% endtrans %}</p></a>
            <a><p>{% trans %}Make your Gift & Donation {% endtrans %}</p></a>
        </div>
    </section>

    <section id="public-invitation-bottom">
        <img src="{{ asset('front/images/wedding-couple 1.png') }}" alt="">
        <div>
            <p>{% trans %}Save your place right here{% endtrans %}</p>
            <a href="{{ path('app_demande_invitation') }}"><p>{% trans %}Link to wedding registration{% endtrans %}</p></a>
        </div>
    </section>

    <section class="filler"></section>
{% endblock %}
