<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('front/css/jord.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/responsive.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Licorice">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Metal">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Milonga">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lohit Bengali">
    <link href='https://fonts.googleapis.com/css?family=Lily Script One' rel='stylesheet'>
</head>
{% block bd %} <body> {% endblock %}


<nav>
    <div class="container menu">
        <div class="menu-left">
            <h4>#JoeFoundHis<br>Crystal</h4>
            <p>
                <a href="{{ path('app_home') }}" style="color: #fff">
                    {% trans %}
                    Home
                    {% endtrans %}
                </a>
            </p>
            <p>
            {% if app.request.locale == "en" %}
                <a href="{{ path('translation', {'locale':'fr'}) }}" style="margin-left: 5px">
                    <img src="https://flagcdn.com/120x90/fr.png" width="36" height="27">
                </a>
            {% else %}
                <a href="{{ path('translation', {'locale':'en'}) }}" style="margin-left: 5px">
                    <img src="https://flagcdn.com/120x90/gb.png" width="36" height="27">
                </a>
            {% endif %}
            </p>

        </div>
        <div class="menu-right">

            <ul>
                <li>
                    <a href="{{ path('app_unique_invitation') }}">
                        Invitation
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_gallery') }}">
                        {% trans %}
                        Gallery
                        {% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_demande_invitation') }}">
                        {% trans %}
                        Registration
                        {% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_about') }}">
                        {% trans %}
                        Hotel reservation & gift
                        {% endtrans %}
                    </a>
                </li>
                <!--
                <li id="multilingue"><a href="#">{% trans %}Language Choice{% endtrans %}</a>
                    <ul id="menu-langue">
                        {% for locale in locales %}
                            {% if locale != app.request.locale %}
                                <li>
                                    <a href="{{ path('translation', {'locale':locale}) }}">
                                        {{ locale }}
                                    </a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                -->

            </ul>
        </div>
        <img src="{{ asset('front/images/three-bars-icon-6.jpg') }}" alt="" id="menu-hamburger">
    </div>
</nav>

<img src="{{ asset('front/images/play.png') }}" alt="" id="music-control">

<audio id="soundtrack">
    <source src="{{ asset('front/media/zik.mp3') }}" type="audio/mpeg">
</audio>

{% block body %}{% endblock %}
</body>

<footer>
    <div class="contact">
        <p>{% trans %} Contact Us {% endtrans %} : <br> +241 07 62 67 58 / +234 703 787 4825</p>
        <p>
            <a href="https://wa.me/2348099442398">
                Mme Ronke ({% trans %}Event planner{% endtrans %}): <br> +234 809 944 2398
            </a>
        </p>
    </div>
    <div class="copyright">
        <h1>2022</h1>
        <p>JoeFoundHisCrystal. {% trans %}AllRights Reserved{% endtrans %}. <br> {% trans %}Made by LINKBRANDYOU Agency{% endtrans %}</p>
    </div>
</footer>

<script src="{{asset('front/js/script.js')}}"></script>

</html>