{% extends 'front.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}<section id="wedding-program">
    <div id="inner-program">
        <h1>Wedding Program</h1>
        <div class="program-row">
            <div>
                <img src="{{ asset('front/images/kisspng-wreath-flower-garland-hand-painted-garlands-5a81d42640d626 4.png') }}" alt="">
                <h2>Civil Registration<br>Wedding</h2>
            </div>
            <p>Ikoyi Lagos  Friday October 21st 2022</p>
        </div>

        <div class="program-row">
            <div>
                <img src="{{ asset('front/images/kisspng-wreath-flower-garland-hand-painted-garlands-5a81d42640d626 4.png') }}" alt="">
                <h2>Wedding Religious<br> Ceremony</h2>
            </div>
            <p>Kingdom hall of Jehovah's Witnesses (lekki Lagos ELF BUS-STOP), October 22nd 2022 10:00 AM</p>
        </div>
        <div class="see-location">
            <p>See the location</p>
        </div>
        <div class="program-row">
            <div>
                <img src="{{ asset('front/images/kisspng-wreath-flower-garland-hand-painted-garlands-5a81d42640d626 4.png') }}" alt="">
                <h2>Wedding Party</h2>
            </div>
            <p>Radisson Blu Anchorage Hotel  Lagos , October 22nd 2022 01:00 PM (Limited access, only by e-invitation confirmation or hard copy invitation)</p>
        </div>
        <div class="see-location">
            <p>See the location</p>
        </div>
        <div id="program-bottom">
            <div>
                <img src="{{ asset('front/images/pngwing 4.png') }}" alt="">
                <p>Scan to see food menu</p>
            </div>
        </div>
    </div>
</section>

    <section class="thanks">
        <img src="{{asset('front/images/—Pngtree—flower continuous one line art_4011135 1.png')}}" alt="">
        <h1>Thank You !!!</h1>
        <img src="{{ asset('front/images/Drawings-Of-Hearts-PNG-Photo-Image 2.png') }}" alt="">
    </section>
{% endblock %}
